{#
/**
 * @file
 * Displays the Google Map Block.
 *
 * Available variables:
 * - map_width: Width of Google map block.
 * - map_height: Height of Google map block.
 */
 #}
<div class="embed-responsive embed-responsive-4by3">
    <div id="map" class="embed-responsive-item"></div>
</div>
